# venv/
# tfenv/
# .env/
# __pycache__/
# *.pyc
# *.pyo
# *.pyd
# logs/
# *.log
# artifacts/
# *.pkl
# *.joblib
# .ipynb_checkpoints/
# mlruns/
# .dvc/cache/
# .DS_Store
# .vscode/
# .idea/

# venv/
# tfenv/
# .env/
# __pycache__/
# *.pyc
# *.pyo
# *.pyd
# logs/
# *.log
# artifacts/
# *.pkl
# *.joblib
# .ipynb_checkpoints/
# mlruns/
# .dvc/cache/
# .DS_Store
# .vscode/
# .idea/
# data/raw/


venv/
tfenv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
logs/
*.log
artifacts/
*.pkl
*.joblib
.ipynb_checkpoints/
mlruns/
.dvc/cache/
.DS_Store
.vscode/
.idea/
data/raw/data/raw/
data/raw/
