<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
</head>

<body>
    <h1>Emotion Detection App</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Predict Emotion</button>
    </form>

    {% if image_path %}
    <h2>Uploaded Image:</h2>
    <img src="{{ image_path }}" alt="Uploaded Image" width="250">
    {% endif %}

    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    <h3>Confidence: {{ "%.2f"|format(confidence * 100) }}%</h3>
    {% endif %}
</body>

</html>